<div class="container-fluid px-0">
  <ul class="nav justify-content-center nav-pills bg-dark py-1">
    <li class="nav-item">
      <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/characters" routerLinkActive="active">Characters</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
    </li>
  </ul>
</div>

<!--source: https://github.com/BasementHalfStackDev/-->
